<%= search_form_for @q, url: url_for, html: { data: { turbo_frame: controller_name, controller: 'search', action: "input->search#search", } } do |f| %>
  <div class="flex space-x-5 items-center">
    <div class="">
      <div
        class="
          absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3
          pointer-events-none
        "
      >
        <%= hicon "magnifying-glass",
        options: {
          class: "w-5 h-5 text-gray-500 dark:text-gray-400",
        } %>
      </div>
      <%= f.search_field :id_text_or_title_or_isbn_or_year_published_text_or_author_name_cont,
                    class:
                      "pt-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                dark:focus:ring-blue-500 dark:focus:border-blue-500",
                    required: false,
                    placeholder: "Search" %>
    </div>
    <div class="">
      <%= f.input :author_id_eq,
              collection: Author.order(:name),
              class:
                "pt-2 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500",
              required: false,
              label: false,
              prompt: "Select Author" %>
    </div>
  </div>
<% end %>
